<ul class="navbar-nav align-items-lg-center">
  {% if user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="{% url 'payroll:salary_generate' %}">Payroll</a></li>

    {% if user.is_staff %}
      <li class="nav-item"><a class="nav-link" href="{% url 'payroll:employee_list' %}">Employees</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'payroll:attendance_list' %}">Attendance</a></li>
      <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'payroll:attendance_list' %}">My Attendance</a></li>
    {% endif %}

    <!-- Logout must POST on Django 5+ -->
    <li class="nav-item ms-lg-2">
      <form action="{% url 'logout' %}" method="post" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-outline-light btn-sm">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
  {% endif %}
</ul>
