<nav class="navbar navbar-expand-lg navbar-dark custom-navbar navbar-fixed">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'payroll:home' %}">PayrollMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navMain" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'payroll:salary_generate' %}">Payroll</a></li>
          {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'payroll:employee_list' %}">Employees</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'payroll:attendance_list' %}">Attendance</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'payroll:attendance_list' %}">My Attendance</a></li>
          {% endif %}
          <form action="{% url 'logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button class="nav-link btn btn-link p-0 align-baseline" style="text-decoration:none;">Logout</button>
          </form>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


